<div class="template-index">
 <div class="content-image">
     <img class="img-responsive" src="<%= asset_path( 'bg.jpg' ) %>" />
  <div class="content-wrap">
   <div class="container">
    <p class="description">Creative design development</p>    
    <h1>Prototype blog homepage</h1>
    <a href="#" class="btn">Sign up now</a>
   </div>
   </div>
 </div>    
</div>