<footer>
    <div class="container">
    <h1>PHUONGDK</h1>
    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <div style="clear:both"></div>
    <p>@2017 Copyright. All Right Reserved</p>
    <p><a href="<%= root_path %>" class="powered">Prototype blog</a> - Developed by <span class="white">PHUONGDK</span></p>
    </div>
</footer>