<%#= flash.inspect %>
<%#= debug flash %>
<%#= simple_format flash.to_yaml %>
<% flash.each { |name,msg| %>
<div class="container">
<div class='alert alert-<%="#{name}"%>' style="text-align:center;margin-top:20px" role="alert"><%= msg %></div>
<% } %>
</div>